{% extends 'happiness/dashboard.html' %}

{% block dashboard %}

{% if user.employee %}

  {% include 'happiness/form_snippet.html' %}
  <br />

  <div class="panel panel-default">
    <div class="panel-heading">Your happiness chart</div>
    <div class="panel-body plot">{{ individual_script|safe }}</div>
  </div>
{% endif %}

{% if user.team %}
  <div class="panel panel-default">
    <div class="panel-heading">Happiness chart the individuals on the team you manage: {{ user.team.name }}</div>
    <div class="panel-body plot">{{ individuals_script|safe }}</div>
  </div>
{% endif %}


{% endblock dashboard %}
