{% extends "base.html" %}
{% block content %}

<div class="jumbotron">
  <p>Happiness is a small web application that lets users in a company log in and record
  their happiness.</p>

  <p>Users are part of teams.  On their dashboard they can see a plot of their happiness over time
  and their team's average happiness. If users are in more than one team they will see average
  happiness for all their teams.</p>

  <p>Managers can manage one or more teams. Their dashboard shows the average happiness for all the teams
  they manage as well as individual lines for all the team members.</p>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Purpose</h3>
      </div>
      <div class="panel-body">
        <p>The purpose of this app is to show how to sync a bokeh server up with a web application, in this
          case a Django app. As this is a demo, features like authentication haven't been used to 
          enable you to quickly see how to hook up the app and how it would appear to different users.
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Instructions</h3>
      </div>
      <div class="panel-body">
        <p>Select a user on the left to "log in" as that user. You should be able to see their dashboards as described above</p>
        <p>All the available users and their teams are listed below. If you'd like to update a user's
        team, add new teams, etc you can go do this via <a href="{% url 'admin:login' %}">the admin page</a> with the
        username and password <code>superuser</code></p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Teams</h3>
      </div>
      <div class="panel-body">
        <ul>
          {% for team in all_teams %}
            <li>{{ team.name }}               
              <ul>
                <li>{{ team.manager.first_name }} (Manager)</li>
                {% for employee in team.employee_set.all %}
                  <li>{{ employee.user.first_name }}</li>
                {% endfor %}
              </ul>
            </li>
          {% endfor %}
        <ul>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Users</h3>
      </div>
      <div class="panel-body">
        <ul>
          {% for user in all_users %}
          <li>{{ user.first_name }} {% if user.employee.teams_list %}({{ user.employee.teams_list }}){% endif %}</li>
          {% endfor %}
        <ul>
      </div>
    </div>
  </div>
</div>


{% endblock content %}
